.myProjects-container {
  background-image: url("../../../Images/unnamed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.protfilio-header {
  border-bottom: 1px dashed gray;
  padding-top: 40px;
}
.protfilio-header span {
  color: #db3d44;
  font-size: 35px;
  font-weight: 600;
}
